.App{
  text-align: center;
}
body{
  font-family:
  'nanumsquare';
}
.main_header{
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding:20px;
  font-weight: 600;
  font-size: 20px;
}
.button_css{
  background: black;
}
